body {
    background: url(https://wallpaperplay.com/walls/full/9/e/1/115290.jpg);
    background-size: 100%;
    font-family: Luminari, fantasy;

}

.header {
    color: white; 
    display: flex;
    margin: 1em;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 30px;
    text-shadow: gold 1px 0 10px;
}

.header h1 {
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.guitar_container {
    background: antiquewhite;
    color: black;
    display: flex;
    margin: 25px;
    list-style-type: none;
    padding: 10px;
}

.btn_container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.btn_remove {
    height: 30px;
    width: 60px;
    border-radius: 20px;
    background-color: white;
    color: red;
    cursor: pointer;
}

.btn_remove:hover {
    background-color: red;
    color: white
}

.btn_update {
    height: 30px;
    width: 60px;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn_update:hover {
    background-color: rgb(68, 153, 250);;
    color: white;
}

.btn_add {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.btn_add:hover {
    background-color: gold;
    color: black;
}